{{ partial:layout/section }}
  {{ partial:components/media/visual image="zoe-siewerdstrasse-3" alt="" }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
  
  {{ partial:layout/inner }}
  
  {{ partial:components/headings/h1 title="Informationen" }}

  {{ partial:components/headings/h2 title="Konditionen & Informationen" class="lg:max-w-[50%]" }}

    {{ partial:layout/grid }}

    {{ partial:layout/span }}
      {{ partial:components/headings/h3 class="text-mint" title="Termine" }}
      <p>Baubeginn ist im Herbst 2024, die Fertigstellung im Frühjahr 2026 geplant. Der genaue Bezugstermin wird der Käuferschaft vier Monate im Voraus mitgeteilt.</p>
      
      {{ partial:components/headings/h3 class="text-mint" title="Verkaufspreise" }}
      <p>Es gelten die Verkaufspreise gemäss Preisliste. Sie verstehen sich als Pauschalpreise für die schlüsselfertigen Wohnungen inklusive Miteigentumsanteile am Land gemäss Baubeschrieb und Vertragsunterlagen (inkl. Vertragspläne).</p>
      
      {{ partial:components/headings/h3 class="text-mint" title="Kauf- und Zahlungsabwicklung" }}
      <ul>
        <li>Beim Abschluss der Reservation ist eine Anzahlung von CHF 50’000.– zu leisten. Diese Anzahlung wird weder verzinst noch sichergestellt.</li>
        <li>Bei der öffentlichen Beurkundung des Kaufvertrages sind 20% (abzüglich der Reservationszahlung) des Kaufpreises zu überweisen.</li>
        <li>Die Restkaufpreissumme von 80% ist bei der Eigentumsübertragung zu begleichen.</li>
        <li>Allfällige Mehrkosten sind vor der Eigentumsübertragung zu begleichen.</li>
      </ul>
      <p>Bei der Beurkundung muss das Zahlungsversprechen eines in der Schweiz domizilierten Finanzierungsinstitutes über den gesamten Kaufpreis vorliegen.</p>
      
      {{ partial:components/headings/h3 class="text-mint" title="Notariatskosten" }}
      <p>Notariats- und Grundbuchkosten werden je zur Hälfte vom Verkäufer und Käufer übernommen. Kosten für allfällige Pfandrechtserrichtung sind vom Käufer zu tragen.</p>

      {{ partial:components/headings/h3 class="text-mint" title="Im Kaufpreis enthalten" }}
      <p>Im Kaufpreis inbegriffen sind alle Arbeiten und Lieferungen, die zur schlüsselfertigen Erstellung der Vertragsobjekte erforderlich sind. Der Kaufpreis umfasst alle auf die Gebäudeteile, Anlagen und Einrichtungen anfallenden Bauvorbereitungs-, Gebäude-, Umgebungs-, Reinigungs- und Räumungskosten mit Einschluss sämtlicher Honorare, Baunebenkosten wie Anschluss- und weitere Gebühren, Versicherungskosten, Vermessungs- und Vermarktungskosten inkl. der Gebäudeaufnahme, Zinsen und Spesen aller Art.</p>

    {{ /partial:layout/span }}

    {{ partial:layout/span }}
      {{ partial:components/headings/h3 class="text-mint" title="Im Kaufpreis nicht enthalten" }}
      <p>Die Einrichtungsgegenstände haben im Verkaufsdossier nur darstellenden Charakter und sind im Kaufpreis nicht enthalten.</p>

      {{ partial:components/headings/h3 class="text-mint" title="Käuferwünsche" }}
      <p>Kosten für zusätzliche Leistungen, Bestellungsänderungen oder Sonderwünsche, die von der Standardausführung abweichen und weder im Bau- und Leistungsbeschrieb noch in den Vertragsunterlagen enthalten sind, werden nach Aufwand in Rechnung gestellt. Kosten für Architektur und Ingenieure aufgrund von Planungsänderungen resp. für Änderungs- und/oder Zusatzwünsche der Käuferschaft werden vorab ermittelt und pauschaliert.</p>

      {{ partial:components/headings/h3 class="text-mint" title="Sonstiges" }}
      <p>Bei einer allfälligen Käufervermittlung durch Dritte entsteht weder gegenüber der veräussernden/erstellenden Partei noch gegenüber dem Interessenten Anspruch auf Ausrichtung einer Provision.</p>
      <p>&nbsp;</p>
      <p>Die Informationen in dieser Verkaufsdokumentation basieren auf dem derzeitigen Projektstand. Kleine Änderungen sowie der Zwischenverkauf bleiben vorbehalten. Fotos, Visualisierungen und Skizzen haben den Zweck, einen Eindruck des Objekts zu vermitteln. Für Ausführungen und Flächenangaben sind nur der detaillierte Baubeschrieb und die Pläne im Massstab 1:100 massgebend. Preisänderungen bleiben ausdrücklich vorbehalten.</p>
    {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
