
{{ partial:layout/section class="bg-mint text-white" }}
  {{ partial:layout/inner }}

  {{ partial:components/headings/h1 title="News" class="!mt-20" innerClass="!top-0 !left-0" }}

    {{ page_elements }}

      {{ if type == 'news_entry' }}

        <article class="mb-40 lg:mb-60 last-of-type:!mb-0">

          <div>
            <strong>
              {{ news_date | iso_format("DD.MM.YYYY") }}
            </strong>
          </div>
          
          {{ partial:components/headings/h2 title="{{ news_title }}" class="text-white !mb-5 lg:!mb-15" }}

          {{ partial:layout/grid }}

          {{ partial:layout/span }}

              {{ news_text }}

            {{ /partial:layout/span }}

            {{ partial:layout/span class="flex flex-col gap-y-16 lg:gap-y-32" }}

              {{ if news_images }}
                {{ partial:components/swiper/wrapper }}
                  
                  {{ news_images }}
                    {{ partial:components/swiper/slide }}
                      {{ partial:components/media/responsive-image image="{{ url }}" alt="" class="!aspect-[16/10]" preset="webp" sizes="['lg', 'xl']" }}
                    {{ /partial:components/swiper/slide }}
                  {{ /news_images }}

                {{ /partial:components/swiper/wrapper }}
              {{ /if }}

              {{ if video_type == 'internal' && video_file }}
                <div>
                  <video controls>
                    <source src="{{ video_file }}" type="video/mp4">
                  </video>
                </div>
              {{ /if }}

              {{ if video_type == 'external' && embed_code }}
                <div class="aspect-video [&>iframe]:aspect-video [&>iframe]:w-full [&>iframe]:h-auto">
                  {{ embed_code }}
                </div>
              {{ /if }}

            {{ /partial:layout/span }}
          
          {{ /partial:layout/grid }}
        </article>
      
      {{ /if }}

    {{ /page_elements }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}