{{ partial:layout/section }}
  {{ partial:components/swiper/wrapper }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-1" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-2" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-3" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-4" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-5" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-6" alt="" }}
    {{ partial:components/swiper/slide image="zoe-siewerdstrasse-7" alt="" }}
  {{ /partial:components/swiper/wrapper }}
{{ /partial:layout/section }}

{{ partial:layout/section }}
{{ partial:layout/inner }}
  {{ partial:components/headings/h1 title="Eigentumswohnungen" }}
  <div class="max-w-3xl">
    {{ partial:components/headings/h2 }}
      You will Örlike it!
    {{ /partial:components/headings/h2 }}
    <p>In Zürich Oerlikon, neben Zürich pulsierender Kulturmeile, entstehen an einer ruhigen Lage an der Siewerdtstrasse 20, zwanzig schicke Eigentumswohnungen. Das Projekt ZOE bietet mit ihrer einzigartigen Lage den Käufer ein individuelles Wohnerlebnis auf höchstem Niveau! Die 2.5- und 3.5-Zimmerwohnungen bestechen durch offene Grundrisse und die bodenlangen Fenster verleihen dem Projekt ein Gefühl von Freiheit und Stadtgefühl der Extraklasse.</p>
    <p>Der Fokus bei der Gestaltung des Gebäudes in der Siewerdtstrasse wurde gezielt auf neutrale, pure und dezente Materialien gelegt. Der warme Grünton der Fassade und die grossen Fenster ermöglichen mit der zeitgemäss-modernen Architektur, dass sich das Gebäude harmonisch in die umliegende Umgebung einpasst und somit das Stadtbild von Oerlikon positiv mitgestaltet.</p>
    <p>ZOE überzeugt durch ihr zeitgemässes Design und ihre hochwertige Bauausführung und schafft für ihre Bewohner ein anspruchsvolles Wohnerlebnis. Die optimale Anordnung der grossen Fenster ermöglicht den Bewohnern inmitten von Oerlikon, den herrlichen Blick ins Grüne. Gut durchdachte Grundrisse und loftartige Räume schaffen ein leichtes und offenes Wohngefühl, das durch raffinierte Raumkonzepte vielfältige Möblierungsmöglichkeiten bietet. Bei der Materialwahl lag der Fokus auf eine vertrauensvolle Umgebung in Verbindung mit höchster Qualität. Ihre eigene Vorstellungen und Ideen berücksichtigen wir gerne! ZOE begeistert von der Tiefgarage bis hinauf ins Attikageschoss.</p>
  </div>
  <div class="mt-15 lg:mt-30 md:flex space-y-10 md:space-y-0 md:space-x-20 lg:space-x-30">
    <div>
      <a href="" 
        target="_blank" 
        title="Verkaufspläne herunterladen"
        class="bg-mint text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-seria tracking-wider flex items-center justify-center hover:brightness-110 transition-all">
        <span class="block leading-none">Verkaufspläne</span>
      </a>
    </div>
    <div>
      <a href="" 
        target="_blank" 
        title="Visualisierungen herunterladen"
        class="bg-mint text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-seria tracking-wider flex items-center justify-center hover:brightness-110 transition-all">
        <span class="block leading-none">Visualisierungen</span>
      </a>
    </div>
  </div>
{{ /partial:layout/inner }}
{{ /partial:layout/section }}