{{ partial:layout/section }}

  {{ partial:components/media/visual image="wohnen-felsengrund-visualisierung-aussen-nord" alt="Visualisierung Aussen Nord" }}

{{ /partial:layout/section }}


{{ partial:layout/section }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h1 }}
      Wohnen
    {{ /partial:components/headings/h1 }}

    <div class="max-w-3xl">
      {{ partial:components/headings/h2 }}
        Wohnungen
      {{ /partial:components/headings/h2 }}
      <p>Vom Erdgeschoss bis ins 5. Obergeschoss sind jeweils drei Wohnungen rund um das zentrale Treppenhaus angeordnet. Jede Wohnung bietet private Aussenräume, wobei die Einheiten im Erdgeschoss einen exklusiven Gartenanteil zur alleinigen Nutzung haben. Perfekt für entspannte Sommerabende mitten im urbanen Oerlikon. Im Attikageschoss befinden sich zwei Wohnungen, die mit beeindruckenden und aussergewöhnlichen Terrassen punkten und einen fantastischen Blick über die Dächer von Oerlikon bieten.</p>
      <p>Beim Ausbau der Wohnungen zieht sich ein durchgängiges Konzept wie ein roter Faden durch das Design, das durch die individuelle Note jedes Bewohners perfekt ergänzt werden kann. Die Räume in den Wohnungen sind vielseitig und flexibel möblierbar, was eine kreative Kombination von Farben und Materialien ermöglicht.</p>
      <p>Die Innenausstattung der Wohnungen – von den Böden über die Küchen bis hin zu den Sanitärinstallationen – ist komplett den Käuferinnen und Käufern überlassen. Eine detaillierte Übersicht der einzelnen Budgetpositionen können dem Kurzbaubeschrieb entnommen werden.</p>
    </div>
    <div class="mt-15 lg:mt-30 md:flex space-y-10 md:space-y-0 md:space-x-20 lg:space-x-30">
      <div>
        <a href="" 
          target="_blank" 
          title="Kurzbaubeschrieb herunterladen"
          class="bg-mint text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-seria tracking-wider flex items-center justify-center hover:bg-charcoal transition-all">
          <span class="block leading-none">Kurzbaubeschrieb</span>
        </a>
      </div>
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section }}

  {{ page_elements }}
    {{ partial:elements }}
  {{ /page_elements }}

{{ /partial:layout/section }}