{{ partial:layout/section }}

  {{ partial:components/media/visual image="zoe-siewerdtstrasse-cam-4" alt="" }}

{{ /partial:layout/section }}

{{ partial:layout/section }}

  {{ partial:layout/inner }}
  
    {{ partial:components/headings/h1 title="Wohnen" }}

    <div class="max-w-3xl">
      {{ partial:components/headings/h2 title="Wohnungen" }}
      <p>Vom Erdgeschoss bis ins 5. Obergeschoss sind jeweils drei Wohnungen rund um das zentrale Treppenhaus angeordnet. Jede Wohnung bietet private Aussenräume, wobei die Einheiten im Erdgeschoss einen exklusiven Gartenanteil zur alleinigen Nutzung haben - perfekt für entspannte Sommerabende mitten im urbanen Oerlikon. Im Attikageschoss befinden sich zwei Wohnungen, die mit beeindruckenden und aussergewöhnlichen Terrassen punkten und einen fantastischen Blick über die Dächer von Oerlikon bieten. Optional besteht die Möglichkeit, die beiden 2.5-Zimmerwohnungen im 5. und 6. Obergeschoss zu einer grandiosen 4.5-Zimmer Maisonettewohnung zusammen zu schliessen. </p>
      <p>Beim Ausbau der Wohnungen zieht sich ein durchgängiges Konzept wie ein roter Faden durch das Design, das durch die individuelle Note jedes Bewohners perfekt ergänzt werden kann.<br>Die Räume in den Wohnungen sind vielseitig und flexibel möblierbar, was eine kreative Kombination von Farben und Materialien ermöglicht.</p>
      <p>Die Innenaustattung der Wohnungen wurde geschmackvoll ausgewählt und ermöglicht den Käufer:innen individuelle Mitbestimmung in den Bereichen Sanitärinstallationen, Küche und Bodenauswahl. Eine detaillierte Übersicht der einzelnen Budgetpositionen können dem Kurzbaubeschrieb entnommen werden.</p>
    </div>
    <div class="mt-15 lg:mt-30 md:flex space-y-10 md:space-y-0 md:space-x-20 lg:space-x-30">
      <div>
        <a href="/assets/downloads/zoe-siewerdtstrasse-kurzbaubeschrieb.pdf" 
          target="_blank" 
          title="Kurzbaubeschrieb herunterladen"
          class="bg-mint text-white px-15 py-10 lg:px-16 lg:py-12 rounded-sm uppercase font-seria tracking-wider flex items-center justify-center hover:brightness-110 transition-all">
          <span class="block leading-none">Kurzbaubeschrieb</span>
        </a>
      </div>
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}

{{ partial:layout/section }}

  {{ partial:layout/inner }}

    {{ partial:components/headings/h2 title="Visualisierungen" }}

    <div class="sm:grid sm:grid-cols-12 sm:gap-15 lg:gap-20">
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-1" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-2" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-3" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-4" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-5" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-6" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-7" alt="" class="sm:col-span-6" }}
      {{ partial:components/fancybox/item image="/assets/zoe-siewerdtstrasse-8" alt="" class="sm:col-span-6" }}
    </div>

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section class="bg-mint" }}

  {{ page_elements }}
    {{ partial:elements }}
  {{ /page_elements }}

{{ /partial:layout/section }}