<a 
  href="/angebot" 
  title="Jetzt Wohnung reservieren" 
  class="bg-mint rounded-full shadow-xl -rotate-12 size-[130px] xl:size-[220px] text-sm xl:text-xl absolute top-[100%] right-30 md:right-auto md:left-30 xl:left-[calc((100%_-_1152px)/2)] md:top-30 xl:top-80 -translate-y-65 md:-translate-y-0 z-90 flex items-center justify-center font-seria font-bold uppercase text-center tracking-wider text-white leading-[1.3] hover:scale-105 transition-all">
 <span class="block -mt-10 px-5">Jetzt<br>Wohnung<br>reservieren</span>
</a>