<select 
  name="interest-selector"  
  required="true"
  class="!outline-none bg-mint rounded-sm text-white px-8 py-10 pr-20 w-full appearance-none bg-[url(../icons/chevron-down.svg)] bg-[length:15px_auto] bg-[right_.5rem_center] bg-no-repeat js-apartments">
  <option value="">{{ placeholder }}</option>
  {{ if field == 'interest' }}
    <option value="2.5-Zimmer">2.5-Zimmer</option>
    <option value="3.5-Zimmer">3.5-Zimmer</option>
    <option value="4.5-Zimmer">4.5-Zimmer</option>
    {{ collection:objects }}
      <option value="Wohnung {{ number }}" {{ value == number ? 'selected' : ''}}>Wohnung {{ number }}</option>
    {{ /collection:objects }}
  {{ /if }}
</select>